body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-tabs-tab-btn{
  font-size: 19px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363636 !important; 
}
.ant-tabs-ink-bar {
  position: absolute;
  background: red !important;
  pointer-events: none;
}
.ant-tabs-tab-btn{
  text-shadow: #F2F2F2 !important;
  color: #7F7F7F !important;
}
@media screen and (max-width: 375px){
  .ant-tabs-nav-list{
    width: 100% !important;
    display: flex !important;
    justify-content: space-around !important;
  }
  .ant-tabs-tab-btn{
    font-size: 16px;
  }
}
